<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="dashboard.css">
</head>
<body>
    <button onclick="returnToHome()">Return to Home</button>
    <button  onclick="goToDashboard()">Dashboard</button>
    <div class="dashboard-container">
        <h1>Dashboard</h1>

        <div class="card">
            <table id="data-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Message</th>
                        <th>Status</th>
                        <th>Update Status</th> 
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

    <script src="dashboard.js"></script>
</body>
</html>